.page_title h1 {
  font-size: 42px;
  line-height: 42px;
  color: 000000;
  font-family: "Gotham";
  font-weight: 200;
  margin: 50px 0;
  text-transform: uppercase;
}
.page_title span {
  font-weight: 900;
}

.banner_section {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}
.banner_section p {
  color: #ffffff;
  font-family: 'metropolis-thin';
  font-size: 40px;
  line-height: 45px;
  margin: auto;
  text-transform: uppercase;
}
.banner_section p span {
  display: inline-block;
  font-family: 'metropolis-extrabold';
}





.banner_section h1 {
  color: #ffffff;
  font-family: 'metropolis-thin';
  font-size: 36px;
  line-height: 45px;
  margin: 0 0 80px 0;
  text-transform: uppercase;
}

.blog-banner.banner_section h1{ color: #000;}


.banner_section h1 span {
  display: inline-block;
  font-family: 'metropolis-extrabold';
}



.banner_section .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

/* --------------------------------------------------- */

.banner_section2 {
  width: 100%;
  height: 100%;
  /* display: flex; */
  justify-content: flex-start;
  position: relative;
}
.banner_section2 .about_list {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 200px;
    position: relative;
    justify-content: center;
    margin-bottom: 110px;
}
.about_list .about_list__item{
    width: 45%;
    padding: 25px;
    border: 1px dashed #cdd1d1dd;
    margin: 5px;
    text-align: center;
}

.who-we-are-bg{
  content: "";
  width: 60.7%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
}

.who-we-are-bg::after{
  content: "";
  width: 750px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
   /* background-image: url(/images/who-banner2-line.png); */
   background-repeat: no-repeat;
   background-size: cover;

}



.banner_section2_content {
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    text-align: center;
   
}

.banner_section2_content h3{
  font-size: 36px;
  line-height: 41px;
  color: #000000;
  font-family: 'metropolis-thin';
  margin-top: 150px;  
}
 
.banner_section2_content h3 span{
  font-family: 'metropolis-extrabold';
}

.banner_section2_content p {
  color: #010101;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: 'metropolis-regular';
}

/* --------------------------------------------------- */

.dark_blue_section {
  /* background: #fff; */
  background: linear-gradient(to left, #0a0a0a, #f5f5f5);
  padding: 200px 0 200px 0;
  position: relative;
}

.dark_blue_section .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.dark_blue_section::after {
  /* background: url(/images/counter_line.png) no-repeat; */
  height: 965px;
  width: 705px;
  content: "";
  display: block;
  position: absolute;
  right: 20%;
  top: 0;
  z-index: 999;
}

.dark_blue_section .content_block h2 {
  color: #000;
  font-family: "Gotham";
  font-weight: 200;
  font-size: 48px;
}

.dark_blue_section .content_block {
  max-width: 544px;
}

.dark_blue_section .content_block h2 span {
  color: #2ab894;
  font-weight: bold;
}

.dark_blue_section .content_block p {
  color: #9a9a9a;
  margin: 30px 0 20px 0;
  font-size: 15px;
}

.container .numbers_figures {
  margin-top: 100px;
}

.container .numbers_figures h3 {
  font-size: 21px;
  font-family: "Gotham";
  font-weight: 200;
  color: #000;
  text-transform: uppercase;
}

.container .numbers_figures h3 span {
  font-weight: bold;
}

.counter_list{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.counter_list_item {
  display: flex;
  line-height: 100px;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 20px;
  width: 100%;
}

.counter_list_item.counter_list-member {
  justify-content: flex-start;
}

.counter_list-member .plus-number {
  color: #2f346c;
}

.counter_list-member .plus-mode {
  width: 20%;
}

.counter_list-year .plus-number {
  color: #1b75bc;
}

.counter_list-year .plus-mode {
  width: 11%;
}

.counter_list-application .plus-number {
  color: #00a79d;
}

.counter_list-application .plus-mode {
  width: 50%;
}

.counter_list-serving .plus-number {
  color: #dddddd;
}

.counter_list-serving .plus-mode {
  width: 18%;
}

.counter_list_item.counter_list-serving {
  margin-top: 100px;
}

.counter_list_item .plus-number {
  display: inline;
  font-size: 130px;
  font-weight: bold;
  font-family: "Gotham";
}

.counter_list_item .counter-text {
  color: #d0d0d0;
  font-size: 18px;
  font-weight: bold;
  font-family: "Gotham";
  text-transform: uppercase;
  position: relative;
  margin: 0;
  line-height: 1;
}

.counter_list_item .plus-mode {
  height: 2px;
  position: relative;
  background: rgba(144, 145, 163, 0.164);
}

.counter_list_item .plus-mode::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: url(/images/hexa.png);
  right: 0px;
  bottom: -6px;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.counter_list_item .plus-mode.second::before{
  background: url(/images/round.png);
}

.counter_list_item .plus-mode.third::before{
  background: url(/images/hexa-light.png);
}

/* --------------------------------------------------- */

.technology-slack {
  padding: 150px 0 0 0;
  background: #ebebeb;
}

.technology-slack .content_block {
  max-width: 660px;
  margin: 0 auto;
  text-align: center;
}

.technology-slack .content_block h2 {
  color: #000;
  font-size: 48px;
  font-family: "Gotham";
  font-weight: 200;
  text-transform: uppercase;
}

.technology-slack .content_block h2 span {
  color: #2ab894;
  font-weight: bold;
}

.technology-slack .content_block h3 {
  color: #000;
  font-weight: 400;
  font-size: 21px;
  font-family: "Gotham";
}

.technology-slack .content_block p {
  font-family: "Gotham";
  margin-top: 30px;
  font-size: 15px;
}

.technology-slack .mac-icons {
  margin-top: 100px;
  position: relative;
}

/* .technology-slack .mac-icons::after{
  content: "";
     width: 100%;
     height: 100%;
     position: absolute;
     left: 0px;
     top: 0px;
     background: #ebebeb;
} */

.technology-slack .mac-icons .pos-icon {
  position: absolute;
  z-index: 1;
  border-radius: 18px;
  padding: 5px;
  background: #fff;
  box-shadow: 0px 4px 58.2px 1.8px rgba(51, 68, 139, 0.15);
  transform: scale(0.8);
}

.technology-slack .mac-icons .pos-icon1 {
  left: 19%;
  top: 0;
  transform: scale(1);
}

.technology-slack .mac-icons .pos-icon2 {
  left: 24%;
  top: 12%;
}

.technology-slack .mac-icons .pos-icon3 {
  top: 15%;
  left: 14%;
  transform: scale(1);
}

.technology-slack .mac-icons .pos-icon4 {
  top: 8%;
  left: 2%;
}

.technology-slack .mac-icons .pos-icon5 {
  left: 5%;
  top: -4%;
}

.technology-slack .mac-icons .pos-icon6 {
  left: 13%;
  top: 31%;
}

.technology-slack .mac-icons .pos-icon7 {
  right: 7%;
  top: 4%;
}

.technology-slack .mac-icons .pos-icon8 {
  transform: scale(1);
  right: 18%;
  top: 13%;
}

.technology-slack .mac-icons .pos-icon9 {
  right: 13%;
  top: 25%;
}

/* --------------------------------------------------- */

.join_us {
  background: #f3f3f3;
}
.join_us .join_us_contents {
  display: flex;
  align-items: center;
  justify-content: right;
}
.join_us .join_us_left {
  width: 37.3%;
}

.join_us .main-title {
  color: #000;
  margin-bottom: 35px;
}
.join_us .main-title span {
  font-weight: bold;
}
.join_us .join_us_left p {
  color: #111439;
  max-width: 560px;
  margin-bottom: 0;
}
.join_us .join_us_right {
  width: 50%;
}
.abt-career-btn{
  width: 100%;
  margin-top: 55px;
}
.join_us .client-btn {
  display: block;
  width: 260px;
  padding: 15px 0px;
  text-align: center;
  margin: 0px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  color: #000000;
  margin-bottom: 15px;
}

.join_us .client-btn:hover{
     color: #fff;
}
.join_us .client-btn span {
  margin-right: 30px;
}




/* ---------------style-------sk-st */
 
 .swiper-scrollbar{ opacity: 1 !important;  height: 5px; position: relative; width: 100%;} 
 .swiper-scrollbar .swiper-scrollbar-drag{ background: #289784;     height:5px;}
.swip-box{ overflow: hidden; -webkit-border-radius: 40px; border-radius: 40px; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0b1cff+0,289784+100 */
  background: rgb(11,28,255); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(11,28,255,0.5) 0%, rgba(40,151,132,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(11,28,255,0.5) 0%,rgba(40,151,132,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(11,28,255,0.5) 0%,rgba(40,151,132,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b1cff', endColorstr='#289784',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */} 
.line-scroll{ background: #646464; width: 100%; height: 1px; display: inline-block; position: absolute; top: 2px;}
.swip-cont{width:80%; padding-top: 70px;}
.swip-cont-box{margin: 1px; width: calc(100% - 2px); background: #0c0d2c; -webkit-border-radius: 40px; border-radius: 40px; padding: 88px 15%; min-height:460px; }


.swip-cont-box h3{ margin: 10px 0px 30px 0px; color: #fff; font-size: 24px; font-family: 'Gotham'; font-weight: inherit;}
.swip-cont-box p{ color: #b3b3b3; margin: 0px;}


.solutiontitle.sticky {
  position: fixed;
  z-index: 100;
  top:122px;
}

.solutiontitle{width: 486px;}

.service-tab-left{padding-right: 0%;}
.tab_content{padding-bottom: 60px; padding-top:60px;}
/* .hme-main-contact-section{z-index: 200;  } */

.tab-nav-item.active h3 span{    font-family: 'metropolis-bold' !important;}


.service-tab-left .tabs li.active a, .service-tab-left .tabs li a:hover{background: url(/images/bg-hover.png) repeat-y center right !important;}
.service-tab-left .tabs li a{    padding: 19px 10px;}
#mob-nav{ display: none;}
.hme-clients-section .container { position: relative; z-index: 10;}
.contact-reach-social ul{flex-wrap: wrap;}
/* .accordion-content{max-height: 0; overflow: hidden; transition: max-height 0.2s ease-in-out;} */
.accordion-content{ overflow: hidden; display: none;}

#mob-nav .accordion-content .tab_content{ padding-top: 25px; padding-bottom: 25px;}
 .wpcf7-form > ul{display: flex; flex-wrap: wrap; margin: 50px -1% 0 -1%;}

span.wpcf7-not-valid-tip{display: none;}
.wpcf7-not-valid{ border-color: #dc3232 !important;}
.who-we-are-line-img{ width: 100%;}

/* ---------------style-------sk-en */




#mob-nav .tab_content ul li a{background: transparent !important;}




@media only screen and (max-width: 1024px) {
  .banner_section {
    height:450px;
    padding:60px 0 20px 0;
  }
  .banner_section p {
    font-size: 30px;
    line-height: 38px;
    margin: 0 0 47px 0;
  }

  .banner_section2_content p:last-child {
    margin: 0;
  }

  .banner_section2_content p {
    font-size: 13px;
    padding-right: 0;
    line-height: 18px;
  }

  .banner_section2 {
    height: auto;
    padding:80px 0;
  }
  .banner_section2_content{
    max-width:100%;
  }
  .banner_section2_content p {
    font-size: 15px;
    padding-right: 15%;
  }

  .counter_list_item .plus-number {
    font-size: 75px;
    line-height: 1;
  }

  .technology-slack {
    padding: 70px 0 0 0;
  }

  .dark_blue_section::after {
    display: none;
  }

  .dark_blue_section {
    padding: 70px 0;
  }

  .dark_blue_section .content_block {
    max-width: 100%;
  }

  .container .numbers_figures {
    margin-top: 37px;
  }

  .counter_list{
    margin-top: 34px;
  }

  .counter_list_item {
    justify-content: flex-start;
  }

  .counter_list_item.counter_list-serving {
    margin-top: 0;
  }

  .dark_blue_section .content_block h2 {
    font-size: 30px;
    line-height: 35px;
  }

  .dark_blue_section .content_block p {
    margin: 20px 0 15px 0;
  }

  .technology-slack .content_block h2 {
    font-size: 30px;
  }

  .technology-slack .mac-icons {
    margin-top: 60px;
  }

  .technology-slack .content_block h3 {
    font-size: 18px;
  }

  .technology-slack .content_block p {
    margin-top: 19px;
  }

  .join_us .client-btn {
    margin: 40px 0 0 0;
  }
  .join_us .main-title {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .technology-slack .mac-icons .pos-icon {
    border-radius: 12px;
    max-width: 55px;
  }

  .technology-slack .mac-icons .pos-icon1 {
    left: 17%;
    top: -2%;
  }

  .technology-slack .mac-icons .pos-icon2 {
    left: 23%;
    top: 11%;
  }

  .technology-slack .mac-icons .pos-icon3 {
    top: 14%;
    left: 14%;
  }

  .technology-slack .mac-icons .pos-icon4 {
    top: 7%;
    left: 0;
  }

  .technology-slack .mac-icons .pos-icon5 {
    left: 4%;
    top: -5%;
  }

  .technology-slack .mac-icons .pos-icon6 {
    left: 12%;
    top: 30%;
  }

  .technology-slack .mac-icons .pos-icon7 {
    right: 5%;
    top: 3%;
  }

  .technology-slack .mac-icons .pos-icon8 {
    right: 14%;
    top: 11%;
  }

  .technology-slack .mac-icons .pos-icon9 {
    right: 10%;
    top: 24%;
  }
}
@media only screen and (max-width: 767px) {
  .who-we-are-bg{
    display: none;
  }
  .banner_section2_content p{
    padding:0;
  }
  .banner_section2 {
    height: auto;
    padding: 60px 0;
  }
  .join_us .join_us_contents {
    flex-wrap: wrap;
  }
  .join_us .join_us_left {
    width: 100%;
    padding: 30px 0 0 0;
  }
  .join_us .join_us_right {
    width: 100%;
  }
	.counter_list_item .plus-number {
    font-size: 35px;
	}
	.counter_list_item .counter-text {
    font-size: 12px;
	}
	.counter_list_item .plus-mode::before {
    width: 15px;
    height: 15px;
    bottom: -7px;
	}
	.join_us .client-btn {
    margin: 26px 0 0 0;
	}
	.join_us .client-btn {
    width: 187px;
    padding: 12px 0px;
	}
	.join_us .join_us_left p{
		line-height:20px;
	}
	.technology-slack .mac-icons img:not(.pos-icon){
		display:none;
	}
	.technology-slack .mac-icons{
		all: unset;
		display:flex;
		margin-top: 18px;
		flex-wrap: wrap;
    row-gap: 15px;
    margin:0 -1%;
	}
  .technology-slack .mac-icons .pos-icon {
    border-radius: 12px;
    max-width: 55px;
    position: unset;
    transform: scale(1);
    margin:0 1%;
  }
  .technology-slack{
    padding:50px 0;
  }
  .technology-slack .content_block h2 {
    font-size: 24px;
  }
  .technology-slack .content_block h3 {
    font-size: 14px;
  }
  .technology-slack .content_block p {
    margin-top: 8px;
    font-size: 12px;
    line-height: 18px;
  }
  .container .numbers_figures h3 {
    font-size: 15px;
  }
  .dark_blue_section .content_block h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .dark_blue_section .content_block p {
    margin: 9px 0 7px 0;
    font-size: 13px;
    line-height: 19px;
  }
  .container .numbers_figures {
    margin-top: 17px;
  }
  .dark_blue_section {
    padding: 46px 0;
  }
  .banner_section p {
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 30px 0;
  }
  .banner_section {
    height: 261px;
  }
  .header.sticky .logo{width: 50px !important;}
  /* .header { top: 10px !important;} */
  .header.sticky{top: 0px !important;}
  .header.sticky .menu-icon{margin-top: 0px !important;}
}


.footer-rights a{ color: #fff;}
.head-tell{ margin: 0px; padding: 0px;}
.head-tell li{ list-style: none; display: flex; color: #fff; font-size: 14px; margin-bottom: 7px;}
.head-tell li a{margin-bottom: 0px;}

.head-tell li span{padding-right: 5px; line-height: 24px;}

.head-tell li a{line-height: 24px;}